body {
    background-color: rgba(193, 222, 194, 1);
}

.stimulus-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    outline-style: solid;
    outline-color: white;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    height: 100%;
    width: 100%;
    left:20px;
    right:0; 
    margin:auto; 

}

.right-arrow-div {
    max-width: 125px;
    float: right;
}

#arrow-bg-color {
    background-color: rgba(169,169,169,0.7);    
}

.left-arrow {
    height: 100%;
    width: 100%;
    left:20px;
    right:0;
    margin:auto; 
}

.left-arrow-div {
    max-width: 125px;
}

.arrow-div {
    width: 275px;
    position:absolute;
    bottom:50px;
    margin: 0 auto;
}

.stimulus-robot {
    max-width: 300px;
}

.robot-div {
    position:fixed;
    bottom: 0%; 
    right: 0;
    max-height: 200;
    margin:0 auto;
    padding: 15px 0;
}
